palaroid {
      position: relative;
}

.polaroid img {
      display: block;
      margin: 0 auto;
      border: 20px solid #fafafa;
      border-top-width: 20px;
      border-bottom-width: 20px;
      bkit-box-shadow: 3px 3px 6px 4px #323e53;
      -moz-box-shadow: 3px 3px 6px 4px #323e53;
      box-shadow: 3px 3px 6px 4px #323e53;
      width:18%;
      }
body { background-color:#a7c1cf; } 
 
h1{
	text-align: center;
	background-color: #a7c1cf;
	background-image:url('paper.gif')
	}
	.normal {font-variant:small-caps;}

	h2 {text-align: center;
	background-color: #a7c1cf;
	}
	.normal {font-variant:small-caps;	
	}
	.list {font-variant:small-caps;
	text-align: center;	
	}
table {
    width: 340px;
    height: auto;
    border-collapse: inherit;
    background-color:#ccdde8;
    }

	.wrapper {
	max-width:350px;
	margin:auto;
	}

	.list{
list-style: none;
padding: 0;
} 
	.list li
{
padding: 5px 10px;
background: linear-gradient(to left, #323e53 0%, white, #ffd000
);
border-bottom: 1px #267491;
color: #267491;
font-size: 20px;
margin-bottom: 3px;
}

.top-menu {
  margin: 0 60px;
  position: relative;
  background: #323e53;    
  box-shadow: 
    inset 1px 0 0 rgba(255,255,255,.1), 
    inset -1px 0 0 rgba(255,255,255,.1), 
    inset 150px 0 150px -150px rgba(255,255,255,.12), 
    inset -150px 0 150px -150px rgba(255,255,255,.12);
}
.top-menu:before,
.top-menu:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 3px;
}
.top-menu:before {
  top: 0;
  border-bottom: 1px dashed rgba(255,255,255,.2);
}
.top-menu:after {
  bottom: 0;
  border-top: 1px dashed rgba(255,255,255,.2);
}
.menu-main {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.menu-main:before, 
.menu-main:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 0;
  top: 8px;
  border-top: 18px solid #323e53;
  border-bottom: 18px solid #323e53;
  transform: rotate(360deg);
  z-index: -1;
}
.menu-main:before {
  left: -30px;
  border-left: 12px solid rgba(255, 255, 255, 0);
}
.menu-main:after {
  right: -30px;
  border-right: 12px solid rgba(255, 255, 255, 0);
}
.menu-main li {
  display: inline-block;
  margin-right: -4px;
}
.menu-main a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  font-family: 'PT Sans Caption', sans-serif;
  color: white;
  transition: .3s linear;
}
.menu-main a.current,
.menu-main a:hover {background: rgba(0,0,0,.2);}