* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #eeeeee;
	padding: 0 10.1% 0 10.1%;
	font: 0;
}
.header{	
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	cursor: default;
	padding-left: 2%;
	margin: 5.5% 0 9.2% 0;
	
}
.header h2 {
	font-family: Roboto;
	color:  #303030;
	font-size: 48px;/* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	line-height: 27px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	
}
.header p {
	font-family: Roboto;
color:  #303030;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 27px;/* Приближение из-за подстановки шрифтов */
text-align: left;
}
.header p{:first-of-type {
	margin-right: 6%;
}
.header p:last-of-type {
	margin-right: 5%;}
}
.header button {
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	outline: none;
	height: 20px;
	width: 18px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
} 
.header button img {
	height: 14px;
	padding: 0;
	margin: 0;
}
.box1{
	width: 51%;
	box-sizing: border-box;
	display: inline-block;
	font-size: 0;
}
.box1 h1 {
	font-family: Raleway;
	color:  #303030;
	font-size: 150px;/* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	line-height: 1em;/* Приближение из-за подстановки шрифтов */
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.box1 p:first-of-type{
	font-family: Roboto;
color:  #303030;
font-size: 24px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 36px;/* Приближение из-за подстановки шрифтов */
text-align: left;
}
.box1 p:last-of-type{font-family: Roboto;
color:  #e10011;
font-size: 24px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 36px;/* Приближение из-за подстановки шрифтов */
text-align: right;}

.box2 {padding-left: 6.9%;
	width: 48%;
	box-sizing: border-box;
	display: inline-block;
}
.box2 img{
	max-width: 100%;
	min-width: 99%;
}
.ellipse {
	box-sizing: border-box;
	margin: 7.5% 0 11.3% 0;
	text-align: center;
	cursor: default;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.ellipse button {
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	outline: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 4.5px;
}
.ellipse img:hover {
	content: url(../image/ellipse_red.png);
	cursor: pointer;
}
.header button:hover > img {
	height: 18px;
	transition: ease 0.2s;
	cursor: pointer;
}
.header p:hover {
	color: rgba(0, 0, 0, 0.507);
	transition: ease 0.2s;
	cursor: pointer;
}
.product {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 9.57% 6% 6% 6%;
	text-align: center;
	font: 0;
}
.product>h2 {font-family: Raleway;
	color: #303030;
	font-size: 48px; /* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	line-height: 1em; /* Приближение из-за подстановки шрифтов */
	text-align: center;}
.product>img{
	width: 14.2%;
	height: 0.6%;
	margin: 1.5% 0 1% 0;
}
.product>p{
	font-family: Raleway;
	color: #303030;
	font-size: 18px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 1em; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin: 0 26.6% 6.38% 26.6%;
}
.product article{
	overflow: auto; 
}
.product article img{
	width: 100%;
}
.product1{margin-right: 3%;
	margin-bottom: 3%;
	float: left;
	text-align: left;
	width: 65.65%;}
.product2{
	margin-bottom: 3%;
	float: left;
	width: 31.33%;
}
.product3 section{
	width: 31.33%;
}
.boxleftdown{
	text-align: left;
	float: left;
	position: relative;
}
.boxleftdownp p:first-of-type {
	display: inline-block;
	font-family: Roboto;
	color: #ffffff;
	font-size: 30px; /* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	text-align: left;
	margin-top: auto;
	position: absolute;
	line-height: 1.5em;
	bottom: 50px;
	left: 33px;
}
.boxleftdownp p:last-of-type {
	position: absolute;
	border-bottom: 5px solid white;
	bottom: 35px;
	left: 33px;
	width: 95px;
}  
.product4{
	margin: 0 3% 0 3%;
	float: left;
}
.product5{
	float: left;
}
.product article img:hover {
	max-width: 98%;
	border: 2px solid black;
	border-radius: 10px;
}