
* {margin: 0; padding:0;
}

body {background: url("image/fon.jpg");
}

.block1 {width: 300px; 
		float: left;
		background:#5e5e66;
		height: 256px;	
}

.block2{width:660px; 
		float: right; 
		height: 881px;
		background: #eee;	
}

.block3{width: 300px;
		 float: left;
 		background:#5e5e66;
 		height: 696px;
}

.block4{height: 71px;
		width:660px;
		float: left;
		background:#a2adc2;
 }

.center {display: block;
		 margin: 15px 50px; 
}

h2 {font-size: 16px;
	font-family: 'IM Fell English SC', serif;
	display: block; margin: 15px 70px;
	color: #ffffff;	
}

h1 {font-size: 25px;
	font-family: 'IM Fell English SC', serif;
	display: block; margin: 15px 70px;
	color: #5e5e66;
	text-align: center;
}

h3{ font-size: 20px;
	font-family: 'IM Fell English SC', serif;
	display: block; margin: 10px 15px;
	color: #5e5e66;
	text-align: left;
}
.about {color: #ffffff;
		font-family: 'Fjalla One', sans-serif;
		font-size: 16px;
		display: block; margin: 5px 30 px;
}
ul {padding-left: 5px; }

li {color: #ffffff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	display: block; margin: 10px 10px;
 }

a {text-decoration: underline;color:#ffffff}

ol{color: #ffffff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 14px;
 	text-align: left;
 	padding-left: 5px;
 }

p{ color: #5e5e66;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px; 
	text-align: center;
	display: block; 
	margin: 0px 10px;
}

p1 { color: #5e5e66;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	 text-align: justify;
	 display: block; 
	 margin: 0px 10px;
}

td {color: #5e5e66;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
}

.center {border: 2px solid #009ab0;border-radius:95px} 

ul.menu-main {margin:0;padding: 20px;}

ul.menu-main li { display: inline; 
   				 margin-right: 25px; 
    			padding: 10px;
    			text-align: justify;
}

ul.menu-main a {text-decoration: none;}

